@page
@model tpte04.RazorPages.Pages.Cursos.Index

<h1 class="display-4">Cursos Disponíveis</h1>

<div>
    @{
        var cursosOrdenados = Model.CursoList.OrderBy(curso => curso.DataInicio);
    }

    <table class="table table-bordered table-striped table-hover-custom">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CursoList[0].IdCurso)</td>
                <td>@Html.DisplayNameFor(model => model.CursoList[0].NomeCurso)</td>
                <td>@Html.DisplayNameFor(model => model.CursoList[0].Descricao)</td>
                <td>@Html.DisplayNameFor(model => model.CursoList[0].DataInicio)</td>
                <td>@Html.DisplayNameFor(model => model.CursoList[0].DataTermino)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var cursoModel in cursosOrdenados)
            {
                <tr>
                    <td>@Html.DisplayFor(model => cursoModel.IdCurso)</td>
                    <td>@Html.DisplayFor(model => cursoModel.NomeCurso)</td>
                    <td>@Html.DisplayFor(model => cursoModel.Descricao)</td>
                    <td>@Html.DisplayFor(model => cursoModel.DataInicio)</td>
                    <td>@Html.DisplayFor(model => cursoModel.DataTermino)</td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@cursoModel.IdCurso">Visualizar alunos inscritos</a>
                        <a asp-page="./Edit" asp-route-id="@cursoModel.IdCurso">Editar</a>
                        <a asp-page="./Delete" asp-route-id="@cursoModel.IdCurso">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>    
</div>