@page
@model tpte04.RazorPages.Pages.Alunos.Index

<h1 class="display-4">Alunos Cadastrados</h1>

<div>
    <table class="table table-bordered table-striped table-hover-custom">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.AlunoList[0].IdAluno)</td>
                <td>@Html.DisplayNameFor(model => model.AlunoList[0].NomeAluno)</td>
                <td>@Html.DisplayNameFor(model => model.AlunoList[0].Email)</td>
                <td>@Html.DisplayNameFor(model => model.AlunoList[0].DataInscricao)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var alunoModel in Model.AlunoList)
            {
                <tr>
                    <td>@Html.DisplayFor(model => alunoModel.IdAluno)</td>
                    <td>@Html.DisplayFor(model => alunoModel.NomeAluno)</td>
                    <td>@Html.DisplayFor(model => alunoModel.Email)</td>
                    <td>@Html.DisplayFor(model => alunoModel.DataInscricao)</td>
                    <td>
                        <a asp-page="./Register" asp-route-id="@alunoModel.IdAluno">Inscrever em um curso</a>
                        <a asp-page="./Edit" asp-route-id="@alunoModel.IdAluno">Editar</a>
                        <a asp-page="./Delete" asp-route-id="@alunoModel.IdAluno">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>    
</div>